[submodule "polyphonic-chord-texture-disentanglement"]
	path = polyphonic-chord-texture-disentanglement
	url = git@github.com:jasonjdominguez99/polyphonic-chord-texture-disentanglement.git
[submodule "ec_squared_vae"]
	path = ec_squared_vae
	url = git@github.com:jasonjdominguez99/Deep-Music-Analogy-Demos.git
